.DS_Store
.cursor/
.idea/
.vscode/

/build/
/coverage/
phpstan/cache/
/reports/
/vendor/

*.bak
*.backup
*.cache
*.iml
*.log
*.old
*.swo
*.swp
*.tmp

.env
composer.phar
phpstan.neon
phpstan.neon.local
Thumbs.db